<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品頁面</title>
    <link rel="stylesheet" href="css/product.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <header>
        <button onclick="toggleMenu()" class="menu">&#9776;</button>
        <h1><a href="/">你好健身房</a></h1>
        <nav>
            <ul id="menuItems">
                <li><a href="/ShoppingCartPage">我的購物車</a></li>
                <li><a href="/LoginPage">商品後台管理</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="product-content">
            <div class="product-img">
                <img src= <%= product_img %> alt="p1.png">
            </div>
            <div class="product-info">
                <div class="product-name"><h1><%= product_name %></h1></div>
                <div class="product-intro"><%= product_dis %></div>
                <div class="product-price"><%= product_price %></div>

                <div class="product-quantity">
                    <button onclick="minusNum(this)" style="width: 50px;">-</button>
                    <span class="quantity">0</span>
                    <button onclick="addNum(this)" style="width: 50px">+</button>
                </div>
                <div class="star">&#11088 評價 : 4.9 顆星</div>
                <div class="btn-area">
                    <button onclick="addToCart(this)" class="order-btn">加入購物車</button>
                    <button onclick="directCheckout(this)" class="orderNow-btn">直接購買</button>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

<script src="js/product.js"></script>

</html>