<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品頁面</title>
    <link rel="stylesheet" href="css/product.css">
</head>

<body>
    <header>
        <button onclick="toggleMenu()" class="menu">&#9776;</button>
        <h1><a href="/">好吃烘培工坊</a></h1>
        <nav>
            <ul id="menuItems">
                <li><a href="/LoginPage">後台管理</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="product-content">
            <div class="product-img">
                <img src= <%=product_img %> alt="p1.png">
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h1>
                        <%= product_name %>
                    </h1>
                </div>
                <div class="product-intro">
                    <%= product_dis %>
                </div>
                <div class="product-price">
                    <%= product_price %>
                </div>

                <div class="product-quantity">
                    <button style="width: 50px;">+</button>
                    <span>0</span>
                    <button style="width: 50px">-</button>
                </div>
                <div class="star">&#11088 評價 : 4.9 顆星</div>
                <div class="btn-area">
                    <button class="order-btn">加入購物車</button>
                    <button class="orderNow-btn">直接購買</button>
                </div>
                <div class="favor-area">
                    <a class="add-favor">&#10084 加至我的最愛</a>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>