* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(35, 28, 26, 0.8);
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
    /* position: fixed; */
}

h1 {
    color: white;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    /* background-image: url(images/logo.png); */
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-align: center;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
    font-size: 20px;
    font-weight: bolder;
}


header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    /* color: #dbb18c; */
}

.menu {
    display: none;
}

body {
    text-align: center;
}

.form-content {
    display: flex;
    justify-content: center;
}

form {
    width: 450px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px; */
    border-radius: 10px;
    border: 4px solid black;
}

form input {
    width: 300px;
    height: 40px;
    padding-left: 15px;
    border: 2px solid black;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bolder;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;
}

form button {
    width: 313px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(229, 134, 134);
    /* border: none; */
    border-radius: 10px;
    color: white;
    border: 2px solid black;
}

p {
    /* margin-bottom: 10px; */
    font-weight: bolder;
}

.register-btn {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    height: 40px;
}

.register-btn div {
    font-size: 20px;
    width: 280px;
    height: 10px;
    background-color: rgb(229, 134, 134);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 2px solid black;
}

.login-div {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #dbb18c;
    margin-bottom: 10px;
}